# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/

# Environment variables
.env

# PyCharm project settings
.idea/

# System files
.DS_Store
Thumbs.db
